<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Ajout des Ligues</title>
</head>

<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
				<div class="card">
					<div class="card-header" th:if="${mode=='new'}"> Ajout des Ligues </div>
					<div class="card-header" th:if="${mode=='edit'}">Modification des Ligues</div>
					<div class="card-body">
						<form th:action="@{saveLigue}" method="post">
							<div class="form-group">
								<label class="control-label"hidden>ID Ligue :</label>
								<input type="hidden" name="idCat" class="form-control" th:value="${ligue.idLigue}" />
							</div>
							<div class="form-group">
								<label class="control-label">Nom Ligue :</label>
								<input type="text" name="nomLigue" class="form-control" th:value="${ligue.nomLigue}" />
								<span th:errors=${ligue.nomLigue} class="text-danger"> </span>
							</div>
							<div class="form-group">
								<label class="control-label">Pays :</label>
								<input type="text" name="pays" class="form-control"
									th:value="${ligue.pays}" />
								<span th:errors=${ligue.pays} class="text-danger"> </span>
							</div>


							<div>

								<button type="submit" class="btn btn-primary" th:if="${mode=='new'}" >Ajouter</button>
								<button type="submit" class="btn btn-primary" th:if="${mode=='edit'}" >Modifier</button>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
</body>

</html>